@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(ellipse , #385300 , #212900);
}
button{
    all: unset;
}
.counter{
    background-color: #bef227;
    height: 615px;
    width: 476px;
    border-radius: 12px;
    box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter__title{
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
    text-align: center;
    line-height: 0.9;
    font-weight: 500;
    font-size: 32px;
    margin-top: 60px;

}
.counter__value{
    color: #1d2507;
    font-size: 200px;
    font-weight: 600;
    margin-top: 10px;

}
.counter__reset-button{
    cursor: pointer;
}
.counter__reset-icon{
    opacity: 0.3;
    font-size: 35px;
    transition: all 0.4s ;
}
.counter__reset-icon:hover{
    opacity: 0.5;
}
.counter__buttons{
    background-color: #1d2507;
    height: 116px;
    width: 100%;
    margin-top: auto;
    border-bottom-left-radius: 11.5px;
    border-bottom-right-radius: 11.5px;
     display: flex;
    cursor: pointer;
}
.counter__button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter__button:hover{
    background-color: #212b06;
}
.counter__icon{

}
.counter__button--decrease{
     
}
.counter__button--decrease:hover{
    border-bottom-left-radius: 12px;
}
.counter__icon--minus{
    color: #bef227;
    opacity: 0.9;
    font-size: 40px;;
}
.counter__button--increase{
    border-left: 1px solid rgba(189, 254, 0, 0.15);
}
.counter__button--increase:hover{
    border-bottom-right-radius: 12px;
}
.counter__icon--plus{
   color: #bef227;
    opacity: 0.9;
    font-size: 40px;

}
